:root {
    --grid-xsmall: 357px;
    --grid-small: 767px;
    --grid-medium: 780px;
    --grid-large: 900px;
    --grid-x-large: 1200px;
    --grid-xx-large: 1800px;
    --grid-widescreen: 2000px;

    --xsmall: min-width: 0;
    --small: max-width: 356px;

}