:root {

    /* "Default" button */
    --default-button-color: var(--gray);
    --default-button-color--inverted: var(--white);
    --default-button-color--hover: var(--gray);
    /* not in use */
    --default-button-color--active: var(--gray);
    /* not in use */
    --default-button-primary-color: var(--brand-primary);
    --default-button-primary-color--inverted: var(--brand-primary--inverted);
    --default-button-success-color: var(--state-success-color);
    --default-button-success-color--inverted: var(--state-success-color--inverted);
    --default-button-warning-color: var(--state-warning-color);
    --default-button-warning-color--inverted: var(--state-warning-color--inverted);
    --default-button-danger-color: var(--state-danger-color);
    --default-button-danger-color--inverted: var(--state-danger-color--inverted);


    /* Padding */
    --extra-small-padding: 0.25rem;
    --extra-small-padding--em: 0.25em;
    --small-padding: 0.5rem;
    --small-padding--em: 0.5em;
    --medium-padding: 1rem;
    --medium-padding--em: 1em;
    --large-padding: 1.5rem;
    --large-padding--em: 1.5em;
    --extra-large-padding: 2rem;
    --extra-large-padding--em: 2em;
    --brand-primary: #B75656;

    --main-navigation-color: #f2f0ec;
    ;
}


.Gmpmx {
    background-color: red;
}


.header-logo {
    max-width: 5rem;
}